

/*仅用于PC效果*/
@media screen and (min-width: 1220px) {

  .inner-nav-a a:hover{
      border-bottom: 2px solid #000;
      color: #000;
  }
  .pt-box:hover{
      border-bottom: 1px solid #000;
  }
  .pt-box:hover .pt-box-span{
      color: #000;
  }
  .page a:hover{
      color: #fff;
      background: #000;
  }
  .nd-np-a a:hover{
      color: #fff;
      background: #000;
  }
  .nd-np-back:hover{
      color: #fff;
      background: #000 url('../images/back-on.png') no-repeat 18px center;
  }

  .ss-more:hover{color: #fff;background: #000;}
  .ss-list:hover .ss-list-img img{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

  .cm-submit:hover{background: #f8626e;}
  .cm-reset:hover{background: #e60012;}

   

}


/*适配平板*/
@media screen and (min-width: 761px) and (max-width: 1219px){
  .wrap{width: 92%;}
  .phone-hc{display: block;}
  .pc-nav{display: none;}

  /* .inner-banner{height: 230px;} */
  .inner-banner-container{margin-top: 0;}
  .inner-banner-p{width: 92%;margin-left: -46%;}
  .index-banner{margin-top: 0;}

  .breadcrumb{float: none;}
  .inner-nav-a{float: none;}
  .product-box-p h4{font-size: 30px;}
  .product-box-p p{font-size: 16px;line-height: 24px;margin-top: 10px;}

  .join-list-icon{width: 90px;}
  .sdev-box-left img{width: 60px;}
  .sdev-box-left p{margin-top: 16px;font-size: 14px;line-height: 24px;}

  .ss-list-text p{height: 130px;}



}

/*适配平板竖屏*/
@media screen and (min-width: 761px) and (max-width: 1000px){
  /* .index-banner .swiper-container{height: 400px;} */

}


/*适配手机*/
@media screen and (max-width: 760px){
  .wrap{width: 92%;}
  .phone-hc{display: block;}
  .footer-nav{display: none;}
  .pc-nav{display: none;}
  .footer-nav-phone{display: block;}
  .footer-copyright{border-top: none;margin-top: 10px;}
  .fcopy-bottom{margin-top: 6px;}


  .header-top{height: 74px;}
  .logo{width: 150px;}
  .header-lang a{font-size: 14px;margin-top: 27px;}
  .header-lang span{margin: 27px 6px 0;}
  .phone-hc{margin-top: 12px;margin-left: 16px;}
  .phone-menu{top: 74px;}
  .fcopy-top-p{float: none;}
  .fcopy-top-nav{float: none;margin-left: 0;margin-top: 5px;}
  .fcopy-top-nav span{margin: 0 3px;}

  .inner-banner{height: 160px;}
  .inner-banner-container{margin-top: 0;}
  .inner-banner-p{width: 92%;margin-left: -46%;font-size: 24px;top: 72px;}

  .index-banner{margin-top: 0;}
  .index-banner .swiper-button-next{width: 30px;height: 30px;right: 16px;}
  .index-banner .swiper-button-prev{width: 30px;height: 30px;left: 16px;}

  .breadcrumb{float: none;}
  .breadcrumb a{line-height: 50px;font-size: 12px;}
  .breadcrumb span{line-height: 50px;font-size: 12px;margin: 0 6px;}
  .inner-nav-a{float: none;}
  .inner-nav-a a{line-height: 50px;margin-right: 20px;}
  .product{padding-top: 40px;}
  .pt-box{margin: 0 10px;padding-bottom: 10px;}
  .pt-box-icon{width: 30px;}
  .pt-box-span{font-size: 16px;margin-top: 7px;margin-left: 5px;}
  .product-content{padding-top: 30px;}
  .product-box-p{width: 100%;}
  .product-box-p h4{font-size: 16px;line-height: 24px;}
  .product-box-p p{font-size: 12px;line-height: 20px;margin-top: 5px;}
  .product-more{font-size: 12px;}

  .news{padding-top: 10px;}
  .news-content{padding-bottom: 30px;}
  .news-list-date{float: none;font-size: 12px;}
  .news-list-p{float: none;width: 100%;font-size: 14px;}
  .page a{padding: 10px 12px;}
  .news-list{border-bottom: 1px dashed #ccc;margin-top: 15px;padding-bottom: 15px;}

  .news-detail{padding-top: 46px;}
  .nd-np-a a{padding: 10px 12px;font-size: 12px;}
  .nd-np-back{padding: 10px 10px 10px 30px;font-size: 12px;background: url('../images/back.png') no-repeat 10px center;background-size: 14px;}
  .nd-np-back:hover{color: #fff;background: url('../images/back.png') no-repeat 10px center;background-size: 14px;}

  .about-c{width: 100%;float: none;}
  .about-img{width: 100%;float: none;}

  .about-honor{padding-top: 10px;}
  .ah-c{float: none;width: 100%;}
  .ah-img{float: none;width: 100%;}

  .join{padding: 40px 0;}
  .join-list-title{width: 24%;}
  .join-list-title p{font-size: 14px;}
  .join-list-icon{width: 60px;}
  .join-list-p{width: 42%;}
  .join-list-p p{font-size: 12px;line-height: 20px;}
  .join-p{font-size: 16px;}
  .join-list{line-height: 140px;height: 140px;}

  .join-welfare{padding: 40px 0;}
  .jw-list{padding: 30px 0;}
  .jw-list h4{font-size: 16px;line-height: 26px;}
  .jw-list p{font-size: 12px;line-height: 22px;margin-top: 10px;}

  .join-recruit{padding: 10px 0;}
  .aj-title.bold p{font-size: 12px;}
  .aj-title p{font-size: 12px;}

  .contact{padding: 30px 0;}
  .contact-way{float: none;width: 100%;font-size: 14px;line-height: 20px;}
  .contact-map{width: 100%;float: none;margin-top: 20px;}

  .contact-message{padding-top: 16px;}
  .cm-box{width: 100%;margin-left: 0;}
  .cm-list .cm-box:nth-child(2n+1){margin-left: 0;}
  .cm-input1{font-size: 14px;height: 50px;padding: 0 4%;}
  .cm-verf{height: 50px;width: 108px;}
  .cm-textarea{font-size: 14px;height: 100px;padding: 6px 4%;}
  .cm-box2{text-align: center;}
  .cms-btn{width: 90px;height: 36px;font-size: 14px;margin-right: 0;margin: 0 6px;}

  .sitemap-list{float: none;width: 100%;padding-right: 0;}
  .sitemap{padding-top: 1px;}
  .sitemap-box{margin-top: 30px;}
  .sitemap-list-a p{margin-top: 10px;}`


  .about-culture{padding-top: 20px;}
  .sdev-box-right{float: none;width: 100%;}
  .sdev-box-c{position: relative;top: 0;left: 0;width: 100%;transform: none;-webkit-transform: none;margin-top: 20px;padding-bottom: 30px;}
  .sdev-box-left img{width: 60px;}
  .sdev-box-left p{font-size: 14px;line-height: 24px;padding: 0 20px;margin-top: 20px;}

  .ss-list{margin-top: 30px;}
  .ss-list-img{float: none;width: 100%;}
  .ss-list-text{float: none;width: 100%;margin-top: 20px;}
  .ss-list-text h3{font-size: 16px;}
  .ss-list-text p{font-size: 12px;line-height: 20px;height: auto;margin-top: 14px;}
  .ss-more{font-size: 12px;line-height: 40px;margin-top: 16px;width: 110px;}



}





