html{
    min-width: 1220px;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}

.anim1{
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.anim2{
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1s ease 0.2s;
    transition: all 1s ease 0.2s;
}

.anim-show{
    opacity: 1;
    filter:alpha(opacity=100);
    -webkit-transform: none !important;
    transform: none !important;
}



.logo{
    float: left;
}
.logo-img{
    float: left;
    margin-top: 16px;
}


.nav-container{
    float: left;
}
.nav-ul{
    list-style: none;
}
.nav-list{
    float: left;
    margin-left: 150px;
}
.nav-a{
    box-sizing: border-box;
    display: block;
    line-height: 90px;
    height: 90px;
    /* margin-top: 20px; */
    padding: 0 20px;
    font-size: 16px;
    color: #333333;
}
.nav-list:hover .nav-a,.nav-list.on .nav-a{
    color: #fff;
    background: #053a88;
}
.nav-a span{
    display: inline-block;
}
.nav-dropdown{
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background: #fff;
    /*border-bottom: 2px solid #ccc;*/
    box-shadow: 0 1px 4px #999;
    z-index: 99;
}

.nav-dropdown2{
    width: 200px;
    left: 50%;
    margin-left: -100px;
    border-top: none;
    padding: 20px 0;
}
.nd-container{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.nd-box{
    float: left;
    width: 200px;
    margin-top: 24px;
    text-align: center;
    background: url("../images/nd-line.jpg") no-repeat left center;
}
.nd-container .nd-box:nth-child(5n+1){
    background: none;
}
.nd-box p{
    font-size: 16px;
    color: #333333;
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 14px;
}
.nd-box:hover p {
    color: #35bbc3;
}
.nd2-menu{
    text-align: center;
    padding: 0 20px;
}
.nd2-menu a{
    font-size: 16px;
    color: #333;
    display: inline-block;
    line-height: 40px;
}
.nd2-menu a:hover{
    color: #35bbc3;
}
