

.anim1{
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease;
}
.anim2{
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease 0.2s;
}

.anim-show{
    opacity: 1;
    transform: none !important;
}



.wrap{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 28px;
}
.header-content{
    height: 116px;
    border-top: 4px solid #283a83;
    box-shadow: 0 1px 3px #999;
    /*transition: all 0.5s ease;*/
}
.header-right{
    float: right;
}
.header-rt{
    margin-top: 12px;
}
.hrt-btn{
    float: right;
    border-radius: 2px;
}
.hrt-btn a{
    display: inline-block;
    float: left;
    width: 40px;
    line-height: 30px;
    color: #7f7f7f;
    text-align: center;
    background-color: #e1e1e1;
    transition: all 0.5s ease;
}
.hrt-btn a:first-child{
    background-color: #283a83;
    color: #fff;
}
.hrt-webmap{
    float: right;
    margin-right: 20px;
}
.hrt-webmap a{
    display: inline-block;
    line-height: 30px;
    color: #7f7f7f;
    padding-left: 16px;
    background: url("../images/webmap.jpg") no-repeat left center;
}
.hrt-line{
    float: right;
    background-color: #e3e3e3;
    width: 1px;
    height: 14px;
    margin-right: 14px;
    margin-top: 9px;
}
.hrt-phone{
    float: right;
    line-height: 30px;
    color: #7f7f7f;
    margin-right: 12px;
    padding-left: 12px;
    background: url("../images/h-phone.jpg") no-repeat left center;
}
.header-rb{
    margin-top: 18px;
}
.nav-li{
    position: relative;
    list-style: none;
    float: left;
    margin-left: 1px;
    height: 56px;
}
.nav-a{
    display: inline-block;
    padding: 0 18px;
    line-height: 32px;
    font-size: 16px;
    color: #383838;
    transition: all 0.5s ease;
}
.nav-li.on .nav-a{
    background-color: #283a83;
    color: #fff;
}

.nav-li-line{
    position: absolute;
    top: 11px;
    left: -1px;
    height: 12px;
    width: 1px;
    background-color: #d8d8d8;
}
.nav-menu{
    position: absolute;
    top: 56px;
    left: 50%;
    box-shadow: 0 0 6px #999;
    display: none;
    z-index: 99;
    transform: translateX(-50%);
}
.nav-menu-c{
    float: left;
    background-color: #283a83;
    padding: 15px 22px;
}
.nav-menu-c p{
    white-space: nowrap;
    padding: 3px 0;
}
.nav-menu-c p a{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}


